.container {
    min-height: 100vh;
}

.scroll-input-transacciones {
    height: 27rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.clickeable {
    cursor: pointer;
}

.fonts {
    font-family: Regular;
}

@font-face {
    font-family: 'Regular';
    src: local('Regular'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}

.deshabilitado {
    cursor: not-allowed;
}

@media all and (max-width:480px) {
    .boton-mobile-accion {
        width: 100%;
        display:block;
    }
}

.texto-elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.boton-donacion {
    border-color: rgba(0,0,0,.125);
}

.boton-donacion:hover {
    color: #fff;
    background-color: #bfc5cc;
    border-color: #bfc5cc;
}

.texto-salto-linea {
    word-wrap: break-word;
}
